<section
  class="
    how-it-works
    how-it-works--overlay
    js-how-it-works"
  aria-hidden="true">

    <a href="#"
       class="how-it-works__close panel-close js-close-how-it-works">
      <span class="screen-reader-only">
        Cerrar "Cómo funciona"
      </span>
      &times;
    </a>

  <div class="page-container-responsive panel-contrast text-contrast">

    <h2 class="screen-reader-only">
      Cómo funciona
    </h2>

    <div class="row space-top-8 text-center">

      <div class="how-it-works__step how-it-works__step-one col-md-4">
        <div class="panel-body">
          <div class="how-it-works__image"></div>
          <h3>
            Descubre lugares únicos
          </h3>
          <p>
            Busca anfitriones con habitaciones libres, casas enteras y alojamientos increíbles, como castillos o iglús.
          </p>
        </div>
      </div>

      <div class="how-it-works__step how-it-works__step-two col-md-4">
        <div class="panel-body">
          <div class="how-it-works__image"></div>
          <h3>
            Haz tu reserva
          </h3>
          <p>
            Ponte en contacto con el anfitrión, confirma las fechas y realiza el pago a través de la plataforma segura de Airbnb.
          </p>
        </div>
      </div>

      <div class="how-it-works__step how-it-works__step-three col-md-4">
        <div class="panel-body">
          <div class="how-it-works__image"></div>
          <h3>
            Viaja
          </h3>
          <p>
            Siéntete como en casa en cualquier rincón del mundo. <a href='/help/getting-started/how-to-travel'>Obtén más información</a> sobre cómo viajar con Airbnb.
          </p>
        </div>
      </div>

    </div>

    <div class="row space-top-4 space-4 text-center">
      <p><a href='/help/getting-started/how-to-host'>Infórmate</a> sobre cómo convertirte en anfitrión de Airbnb y haz que los huéspedes sientan que han encontrado su lugar.
      </p>
    </div>

  </div>
</section>

