<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Services", agents_path, class: "sidebar-link active" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">
				
				<% @agents.each do |agent| %>
					<div class="row">
						<div class="col-md-2">
							<%= image_tag avatar_url(current_user), class: "img-responsive" %>
				
						</div>		
						<div class="col-md-7">
							<h4><%= agent.agent_type %></h4>
						</div>		
						<div class="col-md-3 right">
							<%= link_to "Update", edit_agent_path(agent), class: "btn btn-primary" %>
						</div>		
					</div>
					<hr>
				<% end %>

			</div>
		</div>
	</div>
</div>